@media screen and (max-width: 769px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .nav {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .home-cart {
    flex-direction: column;
    gap: 10px;
  }

  .search-box {
    width: 90%;
    justify-content: center;
    gap: 10px;
  }

  .Banner {
    flex-direction: column;
    text-align: center;
    padding: 0 10px;
  }

  .banner-left {
    width: 100% !important;
    align-items: center;
  }

  .delivery-desc h1 {
    font-size: 35px;
  }

  #delivery-desc {
    flex-direction: column;
    gap: 5px;
  }

  .about {
    font-size: 18px;
    margin: 20px auto;
    padding: 0 10px;
  }

  .order {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .banner-right {
    width: 100%;
  }

  .food-card {
    flex-direction: column;
    align-items: center;
  }

  .card img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .contact-info {
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    text-align: center;
  }

  .product-cards {
    flex-direction: column;
    align-items: center;
  }

  .product-card {
    width: 90% !important;
  }

  .product-card-desc {
    flex-direction: column;
    gap: 10px;
  }

  .see-more-product-btn {
    flex-direction: column;
    gap: 10px;
    width: 80%;
  }

  .service-list {
    flex-direction: column;
    gap: 20px;
  }

  .service-desc {
    width: 90%;
  }

  .testimonial-desc {
    flex-direction: column;
    gap: 30px;
  }

  .testimonial-left,
  .testimonial-right {
    width: 90%;
  }

  .testimonial-right img {
    width: 100%;
    height: auto;
  }

  .subscribe {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    height: auto;
  }

  .subs-left img {
    width: 100%;
    height: auto;
  }

  .subs-right {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .subs-right input {
    width: 90%;
    margin: 10px auto;
  }

  .email-box {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .email-box p {
    width: 100px;
  }

  .footer {
    flex-direction: column;
    gap: 30px;
    text-align: center;
    padding: 20px;
  }

  .company-logo,
  .opening-restaurant,
  .user-link,
  .contact-us {
    width: 100%;
  }

  #contact-us {
    flex-direction: column;
    gap: 10px;
  }

  #contact-us input {
    width: 80%;
  }

  #contact-us img {
    margin: 0 auto;
  }

  .logos {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
}
